body {
   background-image: url("https://www.brewsterwallcovering.com/data/default/images/catalog/original/CHR11711-26849.jpg");
   
}

.row{ display: inline-block;
    text-align: center;
}
img{
 width:20px;
}
button{
     display: inline-block;
     border-radius: 100px;
     background-color:white;
}

button:hover {
    box-shadow: 0px 0px 100px #d1ccd0;
    color:#d1ccd0;;
}

input[type=text] {
    border: 2px solid pink;
    border-radius: 4px;
}
h1{
    font-family: 'Arima Madurai', cursive;
    color:#6d6d6d;
}

#message{
    font-family: 'Arima Madurai', cursive;
     color:#6d6d6d;
}