img{
 width:20px;
}
button{
     display: inline-block;
     border-radius: 100px;
     background-color:#ffeaf7;
}

button:hover {
    box-shadow: 0px 0px 100px #00ffae;
    color:#00ffae;;
}

input[type=text] {
    border: 2px solid pink;
    border-radius: 4px;
}
h1{
    font-family: 'Arima Madurai', cursive;
    color:#6d6d6d;
}
